// Заголовки, общие БЄМ блоки и прочее...
.title {
    font-family: var(--raleway);
    font-size: var(--title-size);
    line-height: 1;
    font-weight: 700;
    color: var(--white-blue);
    @media (max-width: 1080px) {
        font-size: var(--mobileTitle-size);
    }
    span {
        font-style: italic;
        color: var(--yellow);
        font-weight: 600;
    }
}
.numera {
    color: var(--yellow);
    font-size: var(--numeraSize);
}
.text {
    font-size: var(--textSize);
    line-height: var(--text-line-height);
    color: var(--gray-70-navy);
    @media (max-width: 1080px) {
        font-size: var(--textMobileSize);
        line-height: var(--text-mobile-line-height);
    }
}
.min-text {
    font-size: var(--numeraSize);
    line-height: var(--min-title-line-height);
    color: var(--gray-70-blue-50);
    @media (max-width: 1080px) {
        line-height: var(--min-title-mobile-line-height);
    }
}
.tag {
    color: var(--navy-white);
    writing-mode: vertical-rl; /* или vertical-lr */
    padding: 10px 8px;
    background-color: var(--yellow-blue);
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    right: 0px;
    transform: rotate(180deg);
    top: 15%;
    @media (max-width: 1080px) {
        display: none;
    }
}
.card-title {
    font-size: var(--cardTitleSize);
    line-height: var(--card-title-line-height);
    font-weight: 600;
    @media (max-width: 1080px) {
        font-size: var(--cardTitleMobileSize);
    }
}
.button {
    border-radius: var(--radius);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--blue);
    text-align: center;
}
.mobile-only {
    display: none;
}
.desktop-only {

}
.yellow-button {
    background-color: var(--bright-yellow);
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    color: var(--blue);
    display: inline-flex;
    border-radius: var(--radius);
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
body.light .only-dark {
    display: none;
}
.only-light {
    display: none;
}
body.light .only-light {
    display: block;
}

@media (max-width: 1080px) {
    .mobile-only {
        display: inherit;
    }
    .desktop-only {
        display: none;
    }
}
