:root {
	// Семейство шрифта по умолчанию
	--montserrat: Montserrat, Raleway;
	--raleway: Raleway;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 400;

	// Базовая высота шрифта
	--bs-line-height: 1;
	--text-line-height: 40px;
	--subtitle-line-height: 30px;
	--text-line-height: 30px;
	--card-title-line-height: 30px;
	--min-title-line-height: 30px;
	--mobile-subtitle-line-height: 20px;
	--min-title-mobile-line-height: 25px;
	--text-mobile-line-height: 20px;


	// Размеры шрифтов
	--title-big-size: 64px;
	--about-title: 62px;
	--title-size: 48px;
	--form-size: 40px;
	--cardNumSize: 36px;
	--card-subtitle: 32px;
	--cardTitleSize: 28px;
	--mobileTitle-size: 24px;
	--about-title-mobile: 24px;
	--cardTitleMobileSize: 24px;
	--subtitleSize: 18px;
	--textSize: 18px;
	--textMedSize: 16px;
	--mobileSubtitleSize: 14px;
	--numeraSize: 14px;
	--textMobileSize: 14px;
	--textMedMobileSize: 14px;


	// Цвет шрифта по умолчанию
	--black: #000000;
	--navy: #07202F;
	--blue: #0072FF;
	--lightblue: #3A97ED;
	--grayblue: #2A5E97;
	--yellow: #FFC357;
	--bright-yellow: #FFB927;
	--bg-black: #040B0F;
	--gray-70: rgba(255, 255, 255, 0.7);
	--gray-60: rgba(255, 255, 255, 0.6);
	--bg-white: #fff;
	--font-color: #fff;
	--radius: 15px;

	//ROOT COLORS
	--white-navy: #fff;
	--white-blue: #fff;
	--white-gray: #AAACAA;
	--white-grayish: #fff;
	--white-blue-05: #fff;
	--white-black: #fff;
	--yellow-blue: #FFC357;
	--yellow-03-navy: #4F4225;
	--yellow-navy: #FFC357;
	--yellow-white: #FFC357;
	--yellow-aaa: #FFC357;
	--grayblue--blue: #2A5E97;
	--navy-white: #07202F;
	--navy-blue-05: #07202F;
	--navy-blue-10: #07202F;
	--navy-blue: #07202F;
	--black-white: #040B0F;
	--gray-60-white: rgba(255, 255, 255, 0.6);
	--gray-70-navy: rgba(255, 255, 255, 0.7);
	--gray-70-blue-50: rgba(255, 255, 255, 0.7);
	--gray-70-555: rgba(255, 255, 255, 0.7);
	--transparent-blue-05: transparent;
	--transparent-blue: transparent;
	--swiper-bg: linear-gradient(90deg, #040B0F 0%, rgba(4, 11, 15, 0.2) 25%, rgba(4, 11, 15, 0) 50%, rgba(4, 11, 15, 0.2) 75%, #040B0F 100%);
	

	--transition: 0.3s ease all;
	--primary-color: #131313;
	--primary-hover-color: #2d2d2d;
	--secondary-color: #ff4040;
	--white-color: #fff;
	--black-color: #131313;
	--bs-shadow: 0px 2px 3px #{rgba(#000, 10%)}, 0px 8px 3px #{rgba(#000, 10%)};
	--hover-shadow: 0 0 5px 0 #{rgba(#000, 10%)}, 0 0 10px 0 #{rgba(#000, 10%)}, 0 0 15px 0 #{rgba(#000, 10%)};
}
:root body.light{
	--white-navy: #07202F;
	--white-blue: #0072FF;
	--white-gray: #AAAAAA;
	--white-grayish: #555;
	--white-blue-05: #81A3B7;
	--white-black: #000;
	--yellow-blue: #0072FF;
	--yellow-03-navy: #07202F;
	--yellow-navy: #07202F;
	--yellow-white: #fff;
	--yellow-aaa: #AAAAAA;
	--grayblue--blue: #0072FF;
	--navy-white: #fff;
	--navy-blue-05: #F2F8FF;
	--navy-blue-10: #E6F1FF;
	--navy-blue: #0072FF;
	--black-white: #fff;
	--gray-60-white: #99C7FF;
	--gray-70-navy: #07202F;
	--gray-70-blue-50: rgba(0, 114, 255, 0.5);
	--gray-70-555: #555555;
	--transparent-blue-05: #F2F8FF;
	--transparent-blue: #0072FF;
	--swiper-bg: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 75%, #FFFFFF 100%);


}