//- extends ../layout/layout.pug

//- block head 
//-     title Главная

//- block header
//-   - var headerType = 'white'
//-   include ../layout/header.pug

//- block content
    
//- block footer
//-   include ../layout/footer.pug
