//- extends ../layout/layout.pug

//- block head 
//-     title Двигатели

//- block header
//-   - var headerType = 'black'
//-   include ../layout/header.pug

//- block content
//-     main.main__content.catalog__main.product__main
//-         .container
            
//- block footer
//-   include ../layout/footer.pug