<section class="blog">
    <div class="blog__container">
        <div class="blog__title title-big">Блог Numera — бухгалтерия понятным языком</div>
        <div class="blog__text text">Честно, просто и по делу о налогах, отчётности, изменениях в законодательстве и оптимизации учёта. Читайте, чтобы управлять бизнесом уверенно — без догадок и лишнего риска</div>
        <a href="##" class="blog__button yellow-button">Подписаться</a>
        <div class="blog__below text">
            Честно, просто и по делу о налогах, отчётности, изменениях в законодательстве и оптимизации учёта. Читайте, чтобы управлять бизнесом уверенно — без догадок и лишнего риска
        </div>
    </div>
    <img class="blog__star01" src="../img/svg/blog01.svg" alt="#">
    <img class="blog__star02" src="../img/svg/blog02.svg" alt="#">
    <img class="blog__star03" src="../img/svg/blog02.svg" alt="#">
</section>