<section class="buh">
    <div class="buh__container">
        <div class="buh__subtitle">О компании</div>
        <div class="buh__title title">Цифровая <span>бухгалтерия</span> без визитов и бумаги</div>
        <ul class="buh__list">
            <li>
                <img src="../img/svg/flash.svg" alt="#">
                <span>Бухгалтерия нового поколения — у вас в телефоне</span>
            </li>
            <li>
                <img src="../img/svg/charge.svg" alt="#">
                <span>Автоматизируем рутину — экономим ваше врем</span>
            </li>
            <li>
                <img src="../img/svg/danger.svg" alt="#">
                <span>Работаем чётко. Отчитываемся честно</span>
            </li>
            <li>
                <img src="../img/svg/crown.svg" alt="#">
                <span>Индивидуально под вас, не по шаблону</span>
            </li>
        </ul>
        <div class="buh__text text">Мы здесь, чтобы сделать бухгалтерию простой и понятной Честность, профессионализм и забота — основа нашей работы</div>
        <div class="buh__button yellow-button">Получить консультацию</div>
        <div class="buh__bg">
            <img class="only-dark" src="../img/png/content-dark.png" alt="#">
            <img class="only-light" src="../img/png/content-light.png" alt="#">
        </div>
    </div>
</section>