<section class="calc">
    <div class="calc__container">
        <div class="calc__numera numera">#Numera</div>
        <div class="calc__title title">Рассчитайте стоимость бухгалтерского обслуживания</div>
        <div class="calc__tarifs">
            <div class="calc__tarifs_item">Полное обслуживание</div>
            <div class="calc__tarifs_item">Частичное обслуживание</div>
            <div class="calc__tarifs_item calc__tarifs_about">Подробнее о тарифах</div>
        </div>
        <div class="calc__columns">
            <div class="calc__inputs">
                <div class="calc__inputs_box">
                    <div class="calc__inputs_box-input">
                        <label for="#">Форма собственности</label>
                        @@include('../components/dropdown-simple.html')
                    </div>
                    <!-- <div class="calc__inputs_box-input">
                        <label for="#">Организационная форма</label>
                        @@include('../components/dropdown-simple.html')
                    </div> -->
                </div>
            </div>
            <div class="calc__content">

            </div>
        </div>
    </div>
</section>