<section class="calc">
    <div class="calc__container">
        <div class="calc__numera numera">#Numera</div>
        <div class="calc__title title">Рассчитайте стоимость бухгалтерского обслуживания</div>
        <div class="calc__tarifs">
            <div class="calc__tarifs_item active">Полное обслуживание</div>
            <div class="calc__tarifs_item">Частичное обслуживание</div>
            <div class="calc__tarifs_item calc__tarifs_about">Подробнее о тарифах</div>
        </div>
        <div class="calc__columns">
            <div class="calc__inputs">
                <div class="calc__inputs_box">
                    <div class="calc__inputs_box-input">
                        <label for="#">Форма собственности</label>
                        @@include('../components/dropdown-simple.html')
                    </div>
                    <div class="calc__inputs_box-input">
                        <label for="#">Организационная форма</label>
                        @@include('../components/dropdown-simple.html')
                    </div>
                </div>
                <div class="calc__inputs_form">
                    <label for="#">Форма собственности</label>
                    @@include('../components/dropdown-simple.html')
                </div>
                <div class="calc__inputs_box calc__inputs_box--2">
                    <div class="calc__inputs_box-item">
                        <label for="##">
                            <span>Кол-во сотрудников*</span>
                            <p>Включая работающих по ГПД и генерального директора</p>
                        </label>
                        <div class="calc__inputs_production">
                            <input type="number" value="0">
                            <label for="##">Производство</label>
                        </div>
                    </div>
                    <div class="calc__inputs_box-item">
                        <label for="##">
                            <span>Оборот в месяц</span>
                            <p>Примерный или прогнозируемый</p>
                        </label>
                        <div class="calc__inputs_production">
                            <input type="number" value="0">
                            <label for="##">UZS</label>
                        </div>
                    </div>
                </div>
                <div class="calc__inputs_clear">
                    <a href="##">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.87006 5.6701L6.45006 7.75012L4.89007 5.19012C4.32007 4.25012 4.62006 3.01012 5.56006 2.44012C6.50006 1.87012 7.74006 2.1701 8.31006 3.1101L9.87006 5.6701Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.82 9.16009L8.66 11.0801C6.82 12.2001 6.25999 14.4601 7.14999 16.2601L9.19999 20.4401C9.85999 21.7901 11.46 22.2601 12.74 21.4701L19.17 17.5601C20.46 16.7801 20.77 15.1501 19.88 13.9401L17.11 10.2001C15.91 8.58013 13.66 8.04009 11.82 9.16009Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.7567 5.09815L5.63208 8.21875L7.71248 11.6351L12.8371 8.51455L10.7567 5.09815Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.3101 16.8101L15.9601 19.5201"  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.75 18.3701L13.4 21.0801"  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.87 15.25L18.52 17.96"  stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Очистить все поля</span>
                    </a>
                    <a href="##">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 13.4V16.4C17 20.4 15.4 22 11.4 22H7.6C3.6 22 2 20.4 2 16.4V12.6C2 8.6 3.6 7 7.6 7H10.6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17 13.4H13.8C11.4 13.4 10.6 12.6 10.6 10.2V7L17 13.4Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.6 2H15.6" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7 5C7 3.34 8.34 2 10 2H12.62" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 8V14.19C22 15.74 20.74 17 19.19 17" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 8H19C16.75 8 16 7.25 16 5V2L22 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                        <span>Копировать данные</span>
                    </a>
                </div>
                <div class="calc__inputs_text text">Нажимая кнопку «Оплатить сейчас», я подтверждаю, что все введённые мной данные соответствуют действительности и будут использоваться для расчета стоимости обслуживания. Я ознакомлен(-а) с тем, что сумма абонентской платы может быть пересмотрена только при изменении предоставленных данных и подлежит пересчету в индивидуальном порядке.</div>
                <div class="calc__inputs_textarea">
                    <label for="##">
                        <span>Не уверены в тарифе? </span>
                        <p>Получите профессиональную консультацию</p>
                    </label>
                    <textarea name="#" id="#" placeholder="Расскажите, чем можем помочь?"></textarea>
                    <div class="calc__inputs_textarea-send">
                        <img src="../img/svg/send.svg" alt="#">
                    </div>
                </div>
            </div>
            <div class="calc__content">
                <div class="calc__content_months">
                    <span class="active">3 мес</span>
                    <span>6 мес</span>
                    <span>9 мес</span>
                    <span>год</span>
                </div>
                <div class="calc__content_box">
                    <div class="calc__content_content">
                        <div class="calc__content_content-title">Полное<br>обслуживание</div>
                        <div class="calc__content_content-subtitle">Бухгалтерский, налоговый и кадровый учёт с расчётом зарплаты</div>
                        <div></div>
                        <div class="calc__content_content-price">
                            <span>1 799 999 сум</span>
                            <p>в месяц при оплате</p>
                            <div>5 000 000 сум за три месяца</div>
                        </div>
                    </div>
                    <div class="calc__content_inputs">
                        <input type="text" placeholder="Имя">
                        <div class="calc__content_inputs-box">
                            <input type="email" placeholder="Email">
                            <input type="tel" placeholder="+998" value="+998">
                        </div>
                        <label> 
                            <input type="checkbox"> 
                            Соглашаюсь на автопродление текущего тарифа
                        </label>
                        <div class="calc__content_buttons">
                            <a class="calc__content_pay" href="##">Оплатить сейчас</a>
                            <a class="calc__content_cons button" href="##" class="button">Нужна консультация</a>
                        </div>
                        <div class="calc__content_info">Нажимая на кнопку «Нужна консультация», «Оплатить сейчас», я даю Согласие на обработку и Согласие на распространение персональных данных.</div>
                        <div class="calc__content_info">Нажимая на кнопку «Оплатить сейчас», я принимаю Публичную оферту о заключении абонентского договора об оказании услуг бухгалтерского сопровождения полностью и без оговорок.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>