<section class="consult">
    <div class="consult__box">
        <div class="consult__container">

            <div class="consult__cards_container swiper-container">
                <div class="consult__cards swiper-wrapper">
                    <div class="consult__card swiper-slide">
                        <div class="consult__card_image">
                            <img src="../img/svg/consult01.svg" alt="#" />
                        </div>
                        <div class="consult__card_title">
                            Ведение бухгалтерии
                        </div>
                        <div class="consult__card_subtitle">
                            Полное ведение бухгалтерии
                        </div>
                        <div class="consult__card_text">
                            Берём на себя учёт всех операций — от первички до
                            отчётности. Любая система налогообложения, порядок в
                            цифрах гарантирован.
                        </div>
                    </div>
                    <div class="consult__card swiper-slide">
                        <div class="consult__card_image">
                            <img src="../img/svg/consult02.svg" alt="#" />
                        </div>
                        <div class="consult__card_title">Сдача отчётности</div>
                        <div class="consult__card_subtitle">
                            Подготовка и сдача отчётности
                        </div>
                        <div class="consult__card_text">
                            Готовим и сдаём налоговую, статистическую и
                            внебюджетную отчётность. Без просрочек, штрафов и
                            головной боли.
                        </div>
                    </div>
                    <div class="consult__card swiper-slide">
                        <div class="consult__card_image">
                            <img src="../img/svg/consult03.svg" alt="#" />
                        </div>
                        <div class="consult__card_title">Консультации</div>
                        <div class="consult__card_subtitle">
                            Полное ведение бухгалтерии
                        </div>
                        <div class="consult__card_text">
                            Помогаем с расчётами, отчётами, переходом на другую
                            систему. Даем чёткие, практичные ответы — без
                            «бухгалтерского» языка.
                        </div>
                    </div>
                    <div class="consult__card swiper-slide">
                        <div class="consult__card_image">
                            <img src="../img/svg/consult04.svg" alt="#" />
                        </div>
                        <div class="consult__card_title">
                            Аутсорсинг «под ключ»
                        </div>
                        <div class="consult__card_subtitle">
                            Полное ведение бухгалтерии
                        </div>
                        <div class="consult__card_text">
                            Полностью берём на себя бухгалтерию и сопровождение
                            бизнеса. Вы занимаетесь ростом — мы следим за
                            цифрами.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="consult__container">
        <div class="consult__info">
            <div class="consult__info_item">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info01.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-title title">
                        Бухгалтерия без головной боли
                    </div>
                    <div class="consult__info_item-subtitle">
                        Бухгалтерия, которая говорит на языке бизнеса
                    </div>
                    <div class="consult__info_item-text text">
                        Профессиональное ведение бухгалтерского и налогового
                        учёта под реальные задачи вашего бизнеса. Мы фиксируем,
                        контролируем и упорядочиваем финансы, чтобы вы могли
                        уверенно масштабироваться
                    </div>
                </div>
            </div>
            <div class="consult__info_item">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info02.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-title title">
                        Сдача отчётности
                    </div>
                    <div class="consult__info_item-subtitle">
                        Отчёты вовремя. Всегда.
                    </div>
                    <div class="consult__info_item-text text">
                        Забудьте про дедлайны, формы и платформы. Мы подаём всю
                        отчётность за вас — точно, своевременно и без ошибок.
                        Всё, что нужно, — доверить это нам один раз
                    </div>
                </div>
            </div>
            <div class="consult__info_item">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info03.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-title title">
                        Консультации
                    </div>
                    <div class="consult__info_item-subtitle">
                        Бухгалтерия — без догадок и сомнений
                    </div>
                    <div class="consult__info_item-text text">
                        Есть вопрос? Мы дадим понятный ответ. Наши эксперты
                        объяснят сложные вещи простым языком — от налоговой
                        оптимизации до правильной модели учёта. Примем участие в
                        принятии финансовых решений
                    </div>
                </div>
            </div>
            <div class="consult__info_item">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info04.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-title title">
                        Аутсорсинг «под ключ»
                    </div>
                    <div class="consult__info_item-subtitle">
                        Вся бухгалтерия — в одних надёжных руках
                    </div>
                    <div class="consult__info_item-text text">
                        Полный цикл бухгалтерского сопровождения: от открытия
                        компании до сдачи отчётов и кадрового учёта. Всё под
                        ключ, с гарантией, прозрачностью и поддержкой от
                        выделенной команды
                    </div>
                </div>
            </div>
            <div class="consult__info_item">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info05.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-numera numera">
                        #services
                    </div>
                    <div class="consult__info_item-title title">
                        Не знаете, с чего начать?
                    </div>
                    <div
                        class="consult__info_item-subtitle consult__info_item-cta"
                    >
                        Оставьте заявку — мы разберёмся в вашем бизнесе и
                        подскажем подходящее решение.
                    </div>
                    <div class="consult__info_item-btn yellow-button">
                        Узнать, что подойдёт именно вам
                    </div>
                </div>
            </div>
            <div class="consult__info_item consult__info_item--last">
                <div class="consult__info_item-img">
                    <img src="../img/jpg/info06.jpg" alt="#" />
                </div>
                <div class="consult__info_item-content">
                    <div class="consult__info_item-numera numera">
                        #services
                    </div>
                    <div class="consult__info_item-title title">
                        Мы всегда на связи по телефону и в чате
                    </div>
                    <div
                        class="consult__info_item-text text consult__info_item-text--last"
                    >
                        Оперативно поможем с любой ситуацией, будь то срочное
                        оформление сотрудника или ответ на требование налоговой.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
