<section class="contact">
    <div class="contact__container">
        <div class="contact__title title">Свяжитесь с нами</div>
        <div class="contact__text text">У вас есть вопросы по бухгалтерии, услугам или сотрудничеству? Мы готовы помочь — просто напишите, позвоните или приходите к нам в офис.</div>
        <a href="##" class="contact__button yellow-button">Связаться</a>
        <img src="../img/png/contactbg01.png" alt="#" class="contact__bg01">
        <img src="../img/png/contact-bg02.png" alt="#" class="contact__bg02">
        <img src="../img/png/contact-bg03.png" alt="#" class="contact__bg03">
    </div>
</section>