<section class="faq">
    <div class="faq__container">
        <div class="faq__title title">Ответим на вопросы</div>
        <div class="faq__columns">
            <div class="faq__questions">

                @@include('../components/faq-item.html', {
                    "question": "Бухгалтер на аутсорсинге точно заменит мне штатного бухгалтера?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
                @@include('../components/faq-item.html', {
                    "question": "Могу ли я наблюдать за работой специалистов бухгалтерского обслуживания?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
                @@include('../components/faq-item.html', {
                    "question": "От чего зависит стоимость бухгалтерского обслуживания и как её рассчитать?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
                
            </div>
            <div class="faq__questions">
    
                @@include('../components/faq-item.html', {
                    "question": "Что нужно для сдачи отчетности через интернет?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
                @@include('../components/faq-item.html', {
                    "question": "Можно ли перенести мои данные из другой системы (например, 1с), в которой я вел учет ранее?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
    
                @@include('../components/faq-item.html', {
                    "question": "А если бухгалтер допустит ошибку?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
    
            </div>
        </div>
        <a href="##" class="faq__button button">Все вопросы</a>
    </div>
</section>