<section class="faq">
    <div class="faq__container">
        <div class="faq__title title">Ответим на вопросы</div>
        <div class="faq__columns">
            <div class="faq__questions">

                @@include('../components/faq-item.html', {
                    "question": "Бухгалтер на аутсорсинге точно заменит мне штатного бухгалтера?",
                    "answer": "Да, бухгалтер на аутсорсинге может полностью заменить штатного специалиста. Мы берем на себя все обязанности по ведению бухгалтерского учета, сдаче отчетности и взаимодействию с контролирующими органами. При этом вы получаете гарантированное качество услуг и экономию на содержании штатного сотрудника."
                })
                @@include('../components/faq-item.html', {
                    "question": "Могу ли я наблюдать за работой специалистов бухгалтерского обслуживания?",
                    "answer": "Да, вы получаете персонального бухгалтера и можете в любой момент запросить информацию или отчёт. Мы работаем прозрачно и всегда на связи."
                })
                @@include('../components/faq-item.html', {
                    "question": "От чего зависит стоимость бухгалтерского обслуживания и как её рассчитать?",
                    "answer": "Стоимость зависит от системы налогообложения, количества сотрудников и операций. Мы рассчитаем тариф бесплатно после короткой консультации."
                })
                
            </div>
            <div class="faq__questions">
    
                @@include('../components/faq-item.html', {
                    "question": "Что нужно для сдачи отчётности через интернет?",
                    "answer": "Только электронная цифровая подпись (ЭЦП) и доступ к eSoliq. Мы поможем всё подключить и настроить."
                })
                @@include('../components/faq-item.html', {
                    "question": "Можно ли перенести мои данные из другой системы (например, 1С), в которой я вёл учёт ранее?",
                    "answer": "Да, мы бесплатно перенесём данные из 1С, Excel или других систем при начале обслуживания."
                })
    
                @@include('../components/faq-item.html', {
                    "question": "А если бухгалтер допустит ошибку?",
                    "answer": "Если по нашей вине будет штраф — мы оплатим его за вас. Мы несем полную ответственность за свою работу."
                })
    
            </div>
        </div>
        <a href="##" class="faq__button button">Все вопросы</a>
    </div>
</section>