<footer class="footer">
    <div class="footer__container">
        <div class="footer__box">
            <div class="footer__columns">
                <div class="footer__columns_content">
                    <div class="footer__columns_content-1">
                        <ul class="footer__columns_list">
                            <li><a class="footer__columns_list-title" href="##">
                                <img src="../img/svg/socials.svg" alt="#">
                                <span>Соц. сети</span>
                            </a></li>
                            <li><a href="##">
                                <img src="../img/svg/telegram.svg" alt="#">
                                <span>Telegram</span>
                            </a></li>
                            <li><a href="##">
                                <img src="../img/svg/instagram.svg" alt="#">
                                <span>Instagram</span>
                            </a></li>
                            <li><a href="##">
                                <img src="../img/svg/facebook.svg" alt="#">
                                <span>Facebook</span>
                            </a></li>
                        </ul>
                        <ul class="footer__columns_list">
                            <li><a class="footer__columns_list-title" href="##">
                                <img src="../img/svg/footer-call.svg" alt="#">
                                <span>Телефоны</span>
                            </a></li>
                            <li><a href="tel:+998712946062">
                                <span>+998 71 294 60 62</span>
                            </a></li>
                            <li><a href="tel:+998909332420">
                                <span>+998 90 933 24 20</span>
                            </a></li>
                        </ul>
                        <div class="footer__columns_rights desktop-only">© 2022–2025 «Numera.uz»</div>
                    </div>
                    <div class="footer__columns_content-2">
                        <ul class="footer__column_list">
                            <li><a class="footer__columns_list-title" href="##">
                                <img src="../img/svg/clock.svg" alt="#">
                                <span>График работы:</span>
                            </a></li>
                            <li><a href="##">
                                <span>Пн–Пт: 9:00 – 18:00</span>
                            </a></li>
                        </ul>
                        <ul class="footer__column_list">
                            <li><a class="footer__columns_list-title" href="##">
                                <img src="../img/svg/email.svg" alt="#">
                                <span>Email</span>
                            </a></li>
                            <li><a href="##">
                                <span>info@numera.uz</span>
                            </a></li>
                            <li><a href="##">
                                <span>khusankhonaliev@gmail.com</span>
                            </a></li>
                        </ul>
                        <ul class="footer__column_list">
                            <li><a class="footer__columns_list-title" href="##">
                                <img src="../img/svg/footer-location.svg" alt="#">
                                <span>Адрес офиса</span>
                            </a></li>
                            <li><a class="footer__column_list-adress" href="##">
                                <span>г. Ташкент, Яшнабадский район, ул. Карасув, 33А</span>
                            </a></li>
                        </ul>
                    </div>
                    <div class="footer__columns_rights mobile-only">© 2022–2025 «Numera.uz»</div>
                </div>
                <div class="footer__columns_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5992.085482939575!2d69.33021579524744!3d41.329683936629095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef505912ee33f%3A0xe98cd0574a0284c!2sC-Space%20Chust!5e0!3m2!1sru!2s!4v1749446232953!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>