<section class="form">
    <div class="form__container">
        <div class="form__content">
            <div class="form__content_title title">Да, это та самая форма</div>
            <div class="form__content_text text">Где вы оставляете email — а взамен получаете бухсоветы, которые реально работают</div>
            <div class="form__content_cta">
                <div class="form__content_cta-title title-big">Ответим в течение 1 рабочего дня</div>
                <div class="form__content_cta-subtitle">Без стресса</div>
                <img src="../img/png/form-content01.png" alt="#" class="form__content_bg-message">
                <img src="../img/png/form-bg01.png" alt="#" class="form__content_bg-bg01">
                <img src="../img/png/form-bg01.png" alt="#" class="form__content_bg-bg02">
            </div>
        </div>
        <div class="form__form form--form">
            <div class="form__form_title title">Остались вопросы?<br> Свяжитесь с нами</div>
            <div class="form__form-text text">Мы всегда готовы проконсультировать вас по услугам, тарифам и сотрудничеству. Напишите нам, позвоните или приходите в офис — будем рады помочь.</div>
            <div class="form__form-box">
                <input type="text" placeholder="Имя*">
                <input type="text" placeholder="Фамилия*">
            </div>
            <input type="email" placeholder="Email-адрес">
            <input type="tel" placeholder="Номер телефона*">
            <a class="form__form_submit yellow-button" href="##">Задать вопрос</a>
        </div>
    </div>
</section>