<section class="main">
    <div class="main__container">
      <div class="main__box">
        <img class="main__box_3d" src="../img/png/main-3d.png" alt="#">
        <div class="main__title title">Развивайте бизнес <span>бухгалтерию</span> оставьте нам</div>
        <div class="main__subtitle">Вести бизнес — не значит разбираться в бухгалтерии. Мы считаем, планируем и отчитываемся за вас — честно, точно и вовремя.</div>
        <ul class="main__list">
          <li class="main__list_item"><img src="../img/svg/main-icon01.svg" alt="#">100% цифровой бухгалтерский сервис</li>
          <li class="main__list_item"><img src="../img/svg/main-icon02.svg" alt="#">Специализация на малом и среднем бизнесе<br> Узбекистана</li>
          <li class="main__list_item"><img src="../img/svg/main-icon03.svg" alt="#">Проверка контрагентов и защита от рисков</li>
        </ul>
        <a href="#support-form" class="main__contact">Получить консультацию</a>
      </div>
      <div class="main__img"><img src="../img/jpg/main-img01.jpg" alt="#"></div>
    </div>
  </section>