<section class="mission">
    <div class="mission__container">
        <div class="mission__about numera">#about</div>
        <div class="mission__grid">
            <div class="mission__grid-about">
                <div class="mission__grid-about_title title">Наша миссия</div>
                <div class="mission__grid-about_text text">Сделать бухгалтерию прозрачной, удобной и доступной для малого и среднего бизнеса в Узбекистане. Мы стремимся освободить предпринимателей от рутины, чтобы они могли сосредоточиться на росте и развитии своего дела.</div>
            </div>
            <div class="mission__grid-about">
                <div class="mission__grid-about_title title">Миссия и ценности</div>
                <div class="mission__grid-about_text text">В центре нашей работы — честность, профессионализм и забота о клиенте.</div>
            </div>
            <div class="mission__bg">
                <img src="../img/png/target.png" alt="#">
            </div>
            <div class="mission__grid-about">
                <div class="mission__grid-about_title title">Наши ценности:</div>
                <ul class="mission__grid_list text">
                    <li>
                        <img src="../img/svg/shield.svg" alt="#">
                        <span>Честность и прозрачность — мы работаем без скрытых платежей и всегда открыты перед клиентом.</span>
                    </li>
                    <li>
                        <img src="../img/svg/octagon.svg" alt="#">
                        <span>Профессионализм и ответственность — каждый бухгалтер Numera — это эксперт, которому можно доверять.</span>
                    </li>
                    <li>
                        <img src="../img/svg/done.svg" alt="#">
                        <span>Клиентоориентированность — индивидуальный подход и вовлечённость в задачи каждого бизнеса.</span>
                    </li>
                    <li>
                        <img src="../img/svg/lock.svg" alt="#">
                        <span>Конфиденциальность — ваши данные всегда в безопасности.</span>
                    </li>
                    <li>
                        <img src="../img/svg/hash.svg" alt="#">
                        <span>Инновации и эффективность — мы используем современные технологии, чтобы работать быстро и точно.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>