<section class="partners">
    <div class="partners__container">
        <div class="partners__swiper swiper-container">
            <div class="partners__wrapper swiper-wrapper">

                <div class="partners__slide swiper-slide">
                    <div class="partners__slide_about">
                        <img src="../img/jpg/partners01.jpg" alt="#">
                        <div class="partners__slide_about-content">
                            <span>Agro Kontinent</span>
                            <p>Одна из ведущих семенных и агрохимических компаний Узбекистана</p>
                        </div>
                    </div>
                    <div class="partners__slide_list">
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Компания:</span> Agro Kontinent</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Задача:</span> Восстановление бухгалтерского учёта за 2 года</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Решение:</span> Подключили аудит, оптимизировали налоги, навели порядок</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Результат:</span> Компания избежала штрафов и сэкономила 34 млн сум</div>
                        </div>
                    </div>
                </div>
                <div class="partners__slide swiper-slide">
                    <div class="partners__slide_about">
                        <img src="../img/jpg/partners01.jpg" alt="#">
                        <div class="partners__slide_about-content">
                            <span>Agro Kontinent</span>
                            <p>Одна из ведущих семенных и агрохимических компаний Узбекистана</p>
                        </div>
                    </div>
                    <div class="partners__slide_list">
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Компания:</span> Agro Kontinent</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Задача:</span> Восстановление бухгалтерского учёта за 2 года</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Решение:</span> Подключили аудит, оптимизировали налоги, навели порядок</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Результат:</span> Компания избежала штрафов и сэкономила 34 млн сум</div>
                        </div>
                    </div>
                </div>
                <div class="partners__slide swiper-slide">
                    <div class="partners__slide_about">
                        <img src="../img/jpg/partners01.jpg" alt="#">
                        <div class="partners__slide_about-content">
                            <span>Agro Kontinent</span>
                            <p>Одна из ведущих семенных и агрохимических компаний Узбекистана</p>
                        </div>
                    </div>
                    <div class="partners__slide_list">
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Компания:</span> Agro Kontinent</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Задача:</span> Восстановление бухгалтерского учёта за 2 года</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Решение:</span> Подключили аудит, оптимизировали налоги, навели порядок</div>
                        </div>
                        <div class="partners__slide_item">
                            <img src="../img/svg/bag.svg" alt="#">
                            <div class="partners__slide_item-text"><span>Результат:</span> Компания избежала штрафов и сэкономила 34 млн сум</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
