<section class="service">
    <div class="service__container">
      <div class="service__top">
        <div class="service__top_content">
          <div class="service__top_tag tag">#Numera</div>
          <div class="service__top_title title">На связилюбым удобным способом</div>
          <div class="service__top_text text">Взаимодействие с нашей командой организовано по принципу “одного окна” — вам не нужно обращаться к разным специалистам или повторно объяснять свою задачу. С вами работает персональный ассистент, который координирует весь процесс, контролирует сроки и отвечает на любые вопросы. Вы можете связаться с ним любым удобным способом: по телефону, через мессенджеры или по электронной почте — как вам удобно.</div>
        </div>
        <div class="service__top_grid">
          <div class="service__top_grid-item">
            <div class="service__top_grid-icon"><img src="../img/svg/service01.svg" alt="#"></div>
            <div class="service__top_grid-num">01</div>
            <div class="service__top_grid-name">Service Desk</div>
          </div>
          <div class="service__top_grid-item">
            <div class="service__top_grid-icon"><img src="../img/svg/service02.svg" alt="#"></div>
            <div class="service__top_grid-num">02</div>
            <div class="service__top_grid-name">Мессенджеры</div>
          </div>
          <div class="service__top_grid-item">
            <div class="service__top_grid-icon"><img src="../img/svg/service03.svg" alt="#"></div>
            <div class="service__top_grid-num">03</div>
            <div class="service__top_grid-name">Email</div>
          </div>
          <div class="service__top_grid-item">
            <div class="service__top_grid-icon"><img src="../img/svg/service04.svg" alt="#"></div>
            <div class="service__top_grid-num">04</div>
            <div class="service__top_grid-name">Телефон</div>
          </div>
        </div>
      </div>
      <div class="service__bottom">
        <div class="service__bottom_content">
          <div class="service__bottom_tag tag">#Numera</div>
          <div class="service__bottom_title title">Подберите услуги для вашего бизнеса</div>
          <div class="service__bottom_text text">"Мы работаем, чтобы приносить реальную пользу компаниям любого масштаба и профиля. Опираясь на опыт и профессионализм, мы помогаем находить лучшие решения. Давайте вместе определим, что будет наиболее эффективным именно для вас."</div>
        </div>
        <div class="service__bottom_inputs">
          
        </div>
      </div>
    </div>
  </section>