<section class="source">
    <div class="source__container">
      <div class="source__numera numera">#Numera</div>
      <div class="source__title title">Аутсорсинг с пользой для бизнеса</div>
      <div class="source__grid">

        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source01.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Учет без ошибок</div>
          <div class="source__grid_item-text min-text">Сократите количество ошибок благодаря работе с опытными сотрудниками</div>
        </div>
        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source02.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Минимизируйте риски</div>
          <div class="source__grid_item-text min-text">Забудьте про штрафы и переплату налогов. Профессиональная ответственность застрахована.</div>
        </div>
        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source03.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Непрерывность работы</div>
          <div class="source__grid_item-text min-text">Работа не остановится, если бухгалтер вдруг заболеет, уйдет в отпуск или уволится</div>
        </div>
        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source04.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Больше выгоды</div>
          <div class="source__grid_item-text min-text">Наши услуги обойдутся дешевле, чем штатные специалисты</div>
        </div>
        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source05.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Бухгалтерия без штата</div>
          <div class="source__grid_item-text min-text">Избавьтесь от рутины и занимайтесь действительно важными задачами</div>
        </div>
        <div class="source__grid_item">
          <div class="source__grid_item-icon"><img src="../img/svg/source06.svg" alt="#"></div>
          <div class="source__grid_item-name card-title">Ваше время — бизнесу</div>
          <div class="source__grid_item-text min-text">Освободите время и ресурсы для стратегических задач: управления, развития и масштабирования</div>
        </div>

      </div>
    </div>
    <div class="source__tag tag">Услуги</div>
  </section>