<section class="start">
    <div class="start__container">
        <div class="start__numera numera">#services</div>
        <div class="start__title title-big">Начните работать с профессионалами уже сегодня</div>
        <div class="start__text text">Пора оставить рутину бухучёта в прошлом. Получите комплексное обслуживание от специалистов, которые действительно заботятся о вашем бизнесе. Мы возьмём на себя все расчёты, отчётность и контроль за сроками, чтобы вы могли спокойно заниматься ростом и развитием вашей компании</div>
        <a href="##" class="start__button yellow-button-big">Получить консультацию</a>
    </div>
</section>