<section class="story">
    <div class="story__container">
        <div class="story__numera numera">#Numera</div>
        <div class="story__title title">Реальные истории</div>
        <div class="story__swiper swiper-container">
            <div class="story__wrapper swiper-wrapper">
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story01.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Дилрабо</div>
                        <div class="story__slide_position">Владелица салона красоты</div>
                        <div class="story__slide_text"><p>«Я обратилась в Numera, когда нужно было пересдать бухгалтерскую отчётность за 4 месяца. Команда всё сделала оперативно и без единой ошибки. В налоговой не было никаких претензий, и я наконец-то почувствовала уверенность в ведении бухгалтерии. Рекомендую всем, особенно владельцам салонов и сферы услуг!»</p> <span>Читать дальше</span></div>
                    </div>
                </div>
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story02.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Джасур</div>
                        <div class="story__slide_position">Директор супермаркета в Ташкенте</div>
                        <div class="story__slide_text"><p>«Наш бухгалтер заявил, что налоговая выставила штраф почти на 1 миллиард сум. Мы в панике обратились в Numera. Их специалисты провели аудит, разобрались в ситуации и выяснили, что бухгалтер просто неправильно понял требования налоговой. Нам не только объяснили всё по полочкам, но и дали рекомендации, как избежать таких ситуаций в будущем. Профессиональный подход и спокойствие в сложной ситуации!»</p><span>Читать дальше</span></div>
                    </div>
                </div>
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story03.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Мухриддин</div>
                        <div class="story__slide_position">Директор IT-компании</div>
                        <div class="story__slide_text"><p>«Наша компания занимается установкой программного обеспечения для ресторанов и кафе. Закупки в основном проходят за наличные, и раньше было сложно правильно вести учёт. Numera помогли выстроить прозрачную систему бухгалтерии, особенно в разделе закупок. Теперь всё ясно, прозрачно и понятно для всех участников процесса.»</p> <span>Читать дальше</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story__tag tag">Отзывы</div>
    </div>
</section>