<section class="story">
    <div class="story__container">
        <div class="story__numera numera">#Numera</div>
        <div class="story__title title">Реальные истории</div>
        <div class="story__swiper swiper-container">
            <div class="story__wrapper swiper-wrapper">
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story01.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Мария Шарапова</div>
                        <div class="story__slide_position">Директор, интернет-магазин на Uzum</div>
                        <div class="story__slide_text">Numera берёт на себя всё: от учёта и расчёта зарплат до налоговой оптимизации и проверки партнёров, работаем онлайн, говорим на простом языке, заботимся о вашем бизнесе, как о своём.</div>
                    </div>
                </div>
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story02.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Мария Шарапова</div>
                        <div class="story__slide_position">Директор, интернет-магазин на Uzum</div>
                        <div class="story__slide_text">Numera берёт на себя всё: от учёта и расчёта зарплат до налоговой оптимизации и проверки партнёров, работаем онлайн, говорим на простом языке, заботимся о вашем бизнесе, как о своём.</div>
                    </div>
                </div>
                <div class="story__slide swiper-slide">
                    <div class="story__slide_img">
                        <img src="../img/jpg/story03.jpg" alt="#">
                    </div>
                    <div class="story__slide_content">
                        <div class="story__slide_name">Мария Шарапова</div>
                        <div class="story__slide_position">Директор, интернет-магазин на Uzum</div>
                        <div class="story__slide_text">Numera берёт на себя всё: от учёта и расчёта зарплат до налоговой оптимизации и проверки партнёров, работаем онлайн, говорим на простом языке, заботимся о вашем бизнесе, как о своём.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story__tag tag">Отзывы</div>
    </div>
</section>