<section class="support">
    <div class="support__container">
        <div class="support__tag tag">Контакты</div>
        <div class="support__columns">
            <div class="support__columns-content">
                <div class="support__title title">Поддержка <br> для роста бизнеса</div>
                <div class="support__columns-list">

                    <div class="support__columns-item">
                        <div class="support__columns-item_img">
                            <img src="../img/svg/location.svg" alt="#">
                        </div>
                        <span>г. Ташкент, Яшнабадский район, ул. Карасув, 33А</span>
                    </div>

                    <div class="support__columns-item">
                        <div class="support__columns-item_img">
                            <img src="../img/svg/call.svg" alt="#">
                        </div>
                        <span>+998 90 933 24 20</span>
                    </div>

                    <div class="support__columns-item">
                        <div class="support__columns-item_img">
                            <img src="../img/svg/message.svg" alt="#">
                        </div>
                        <span>info@numera.uz</span>
                    </div>

                </div>
            </div>
            <div class="support__columns-form">
                <div class="support__columns-form_title title">Свяжитесь с нами:</div>
                <div class="support__columns-form_subtitle">Есть вопросы? Пишите — мы всегда на связи.</div>
                <div class="support__columns_inputs">
                    <div class="support__columns_inputbox">
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="Фамилия">
                    </div>
                    <input type="tel" placeholder="Номер телефона">
                    <input type="email" placeholder="Email-адрес">
                    <a href="##">
                        Отправить
                        <img src="../img/svg/form.svg" alt="#">
                    </a>
                </div>
                <img src="../img/png/form-qr.png" alt="#">
            </div>
        </div>
    </div>
</section>