<section class="team">
    <div class="team__container">
        <div class="team__title-box">
            <div class="team__title-box_subtitle">Мы — команда молодых и амбициозных бухгалтеров, консультантов и управляющих. Каждый из нас верит, что бухгалтерия может быть простой и понятной.</div>
            <div class="team__title-box_titles">
                <div class="team__title-box_about numera">#about</div>
                <div class="team__title-box_title title">Свяжитесь с нашей командой</div>
            </div>
        </div>
        <div class="team__grid">
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Мария Шарапова</div>
                <div class="team__card_position">CTO</div>
                <img src="../img/jpg/card01.jpg" alt="#">
            </div>
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Рустам Камолов</div>
                <div class="team__card_position">CEO</div>
                <img src="../img/jpg/card02.jpg" alt="#">
            </div>
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Екатерина Назарова</div>
                <div class="team__card_position">Product Design Lead</div>
                <img src="../img/jpg/card03.jpg" alt="#">
            </div>
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Лола Шарапова</div>
                <div class="team__card_position">CEO</div>
                <img src="../img/jpg/card04.jpg" alt="#">
            </div>
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Владимир Назаров</div>
                <div class="team__card_position">Product Design Lead</div>
                <img src="../img/jpg/card05.jpg" alt="#">
            </div>
            <div class="team__grid_card">
                <div class="team__card_socials">
                    <a href="##" class="team__card_socials-linkedin"><img src="../img/svg/linkedin.svg" alt="#"></a>
                    <a href="##" class="team__card_socials-telegram"><img src="../img/svg/card-telegram.svg" alt="#"></a>
                </div>
                <div class="team__card_name">Рустам Содиков</div>
                <div class="team__card_position">CTO</div>
                <img src="../img/jpg/card06.jpg" alt="#">
            </div>
        </div>
        <div class="team__history">
            <div class="team__img"><img src="../img/jpg/history01.jpg" alt="#"></div>
            <div class="team__content">
                <div class="team__content_numera numera">#about</div>
                <div class="team__history_title title">История Numera</div>
                <div class="team__history_text text">Numera родилась из простой, но мощной идеи — бухгалтерия не должна быть головной болью. Мы начали с нуля, чтобы сломать стереотипы о скучных отчётах и непонятных цифрах. Сегодня мы — команда, которая делает бухгалтерию прозрачной, удобной и по-настоящему полезной. Мы ещё молоды, но уже сопровождаем десятки бизнесов по всей стране и уверенно движемся вперёд — шаг за шагом, счёт за счётом.</div>
            </div>
        </div>
    </div>
</section>
