//- переключение классов в зависимости от страницы если нужно
//- // - const headerClass = (typeof headerType !== 'undefined' && headerType === 'white') ? 'header header--white' : 'header header--black';
//- // header.container(class=headerClass)
//- //   nav 
    