@use "base/reset";
@use "base/fonts";
@use "base/vars";
@use "base/mixin" as *;
@use "components/header";


.header__container {
    max-width: 1450px;
    width: 100%;
    margin: vars.$main-offset auto;
    padding: 10px;
}
body {
}
